<h1>Catálogo de productos</h1>

{{#each products}}
    <br><br>
    <h2>{{title}}</h2>
    <br>
    <p>{{description}}</p>
    <p>Lanzando en {{year}}</p>
    <p>A tan solo ${{price}}</p>
    <p>Stock disponible: {{stock}} unidades</p>
{{/each}}