<h1>Alta y baja de productos</h1>

{{#each products}}
    <br><br>
    <h2>{{title}}</h2>
    <br>
    <p>{{description}}</p>
    <p>Lanzando en {{year}}</p>
    <p>A tan solo ${{price}}</p>
    <p>Stock disponible: {{stock}} unidades</p>
    <button type="button" class="eliminarProducto" id={{id}}>Eliminar producto</button>

    <br><br>
    <div>

    </div>
{{/each}}

{{!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script type="module" src="/js/functions.js"></script>
<script type="module" src="/js/index.js"></script>